body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.dicebox {
    display: flex;
    flex: 1;
    flex-direction: 'row';   
}

.rollButton {
    width: 100px;
    height: 30px;
    background-color: teal;
    border: thin solid black;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.rollButton:focus {
    outline: none;
    box-shadow: none;
}